/Data_Bases_Project/JavaApplication1/nbproject/private/
/Data_Bases_Project/JavaApplication1/build/
/Data_Bases_Project/JavaApplication1/dist/
/Data_Bases_Project/target/
/greg/Procedures_Test/nbproject/private/
/greg/Procedures_Test/build/
/greg/Procedures_Test/dist/
/greg/JJ_Procedures/nbproject/private/
/greg/JJ_Procedures/build/
/greg/JJ_Procedures/dist/
/greg/JJ_Test/nbproject/private/
/greg/Greg_DB_Project/build/
/greg/Greg_DB_Project/dist/
/greg/Greg_DB_Project/nbproject/private/
